@model List<Product>;
@{
    ViewData["Title"] = "Cart";
}
@{
    if(!string.IsNullOrEmpty(Context.Session.GetString("NomeUtente"))){
        <p>@Context.Session.GetString("UserEmail")</p>
    }
}

<div class="text-center">
    <h1>This is your cart</h1>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
            foreach(var thing in Model){
                <tr>
                    <td scope="row">@thing.Name</td>
                    <td scope="row">@thing.Quantity</td>
                    <td>
                        <button class="btn btn-danger position-relative p-3">
                            <img src="~/img/TrashBin.png" class="img-fluid position-absolute top-50 translate-middle" style="max-width: 2em; height: auto;"/>
                        </button>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>