@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Author: Joel Dervishi <br><a href="https://github.com/Joel3644/signup">Project github repository</a>.</p>
    <p><a href="https://bootswatch.com/solar/">Bootstrap theme</a></p>
</div>